* {
    margin: 0;
    padding: 0;
}

body{
    color: hsl(0, 0%, 100%);
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lexend Deca', sans-serif; */
}

section {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: hsl(244, 38%, 16%);
    width: 800px;
    height: 300px;
    display: flex;
    border-radius: 8px;
}

.card-image{
    flex: 50%;
    position: relative;
}

.card-paragraph{
    flex : 50%;
    padding: 40px 0px 20px 40px;
}

span {
    color: hsl(277, 64%, 61%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    padding-top: 30px;
    margin-bottom: 50px;
}

img{
    /* margin-left: 0px; */
    width: 100%;
    height: 100%;
    border-radius:  0px 8px 8px 0px;
    
}

.big-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.small-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%, 0.6);
    font-size: 12px;
}

li {
    list-style: none;
}